
.filter-btn {
    background: none;
    color: white;
    border: none;
    padding: 0 10px; 
    font-size: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 40px;
    letter-spacing: 2px;
    font-weight: 500;
}
.filter-btn i {
  margin-left: 20px;
}
 
.filter-btn .fa-caret-down {
  margin-left: 5px;
}

.filter-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    display: none;
    z-index: 1000;
}

.filter-menu.open {
    display: block;
}
  
.filter-menu .category-btn {
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 10px;
    display: block;
    width: 100%;
    font-size: 16px;
    color: black;
    border-bottom: 3px solid #000000;
  }
  
  .filter-menu .category-btn i {
    float: right;
  }
  
  .categories-list {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    list-style-type: none;
    z-index: 1000;
  }
  
  .categories-list li {
    padding: 10px 0;
    cursor: pointer;
  }
  
  .button-1 {
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 10px;
    display: block;
    width: 100%;
    font-size: 16px;
    color: black;
    margin-bottom: 5px;
  }
  
  .button-2 {
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 10px;
    display: block;
    width: 100%;
    font-size: 16px;
    color: black;
    border-bottom: 3px solid #000000;
  }
  
  .price-range {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .price-inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
  }
  
  .range-slider {
    position: relative;
    width: 100%;
    height: 8px;
    background: #ffcccc;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .range-slider input[type="range"] {
    -webkit-appearance: none;
    left: 0%;
    appearance: none;
    position: absolute;
    width: 100%;
    height: 8px;
    background: transparent;
    pointer-events: none;
    z-index: 2;
  }
  
  .range-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #b30000;
    cursor: pointer;
    pointer-events: all;
  }
  
  .range-slider input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #b30000;
    cursor: pointer;
    pointer-events: all;
  }
   
  .slider-track {
    position: absolute;
    width: 100%;
    height: 8px;
    background: #ffcccc;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .slider-range {
    position: absolute;
    height: 8px;
    background: #b30000;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .header-line {
    width: 155px;
    height: 55px;
    margin: 0;
  }

  .btn-apply-fitler {
    width: 100%;
    margin-top: 15px;
    background-color: #b30000;
    color: #fff;
    border: none;
    border-radius: 10px;
    height: 35px;
    font-size: 17px;
    letter-spacing: 1px;
  }

  .search-bar-own {
    padding: 8px;
    border: none;
    border-radius: 15px;
    width: 700px;
    height: 40px;
    margin-right: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    align-items: center;
}

.search-bar-own::placeholder {
    color: #000000ea;
    font-family: 'Inter';
    font-size: 20px;
    opacity: 1;
    letter-spacing: 5px;
    padding-left: 5px;
}
